.signup-container {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 227, 227);
   
  }
  
  
  .signup-card {
  width: 100%;
  max-width: 360px;    
  padding: 30px 32px;   
  border-radius: 12px;
  border: 1px solid #1f1f1f;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  text-align: center;
  }
  
  .signup-card h2 {
    color: #1f2937;
    margin-bottom: 8px;
    font-size: 26px;
    font-weight: 600;
  }
  
  .signup-card .subtitle {
    color: #6b7280;
    margin-bottom: 25px;
    font-size: 14px;
  }
  
  .role-selector {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
  }
  
  .role-selector label {
    font-weight: 500;
    color: #1f2937;
    cursor: pointer;
  }
  
  .role-selector input[type="radio"] {
    accent-color: #2563eb;
    margin-right: 6px;
    transform: scale(1.2);
  }
  
  .signup-card input {
    width: 85%;
    padding: 12px;
    margin-bottom: 14px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border 0.2s;
  }
  
  .signup-card input:focus {
    border-color: #2563eb;
  }
  
  .signup-card button {
    width: 100%;
    padding: 12px;
    background: rgb(221, 39, 39);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  
  
  .signup-card .message {
    margin-top: 10px;
    color: black;
    font-weight: 500;
  }
  
  .signup-card .switch {
    margin-top: 20px;
    color: black;
    font-size: 14px;
  }
  
  .signup-card .switch a {
    color:blue;
    text-decoration: none;
    font-weight: 500;
  }
  
  .signup-card .switch a:hover {
    text-decoration: underline;
  }
  
  @keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  